body {
    color: white;
    background-color: black;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
#main {
    width: 760px;
    float: left;
    margin-left: 5px;
}
#messages {
    font-size: 16px;
    padding: 3px;
}